{{!-- <div class="newcelebrities"> --}}

    <h2>Agregar nueva celebridad</h2>

    {{!-- <form action="/celebrities/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="occupation">Occupación:</label>
        <input type="text" id="occupation" name="occupation" required>

        <label for="catchPhrase">Eslogan:</label>
        <input type="text" id="catchPhrase" name="catchPhrase" required>

        <button type="submit">Agregar celebridad</button>
    </form>
</div> --}}


<div class="input-group mb-3">
    <form action="/celebrities/create" method="POST">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre:</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" id="name" name="name">

        <span class="input-group-text" id="inputGroup-sizing-default">Occupación:</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" id="occupation" name="occupation">

        <span class="input-group-text" id="inputGroup-sizing-default">Eslogan:</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" id="catchPhrase" name="catchPhrase">

        <button type="submit">Agregar celebridad</button>

    </form>
</div>