<div class="newcelebrities">

    <h2>Agregar nueva celebridad</h2>

    <form action="/celebrities/create" method="POST">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="occupation">Occupación:</label>
        <input type="text" id="occupation" name="occupation" required>

        <label for="catchPhrase">Eslogan:</label>
        <input type="text" id="catchPhrase" name="catchPhrase" required>

        <button type="submit">Agregar celebridad</button>
    </form>
</div>