<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{!-- <a href="/celebrities/create">Agregar nueva celebridad</a>
<a href="/celebrities">Ver todas las celebridades</a>
<a href="/movies/create">Agregar nueva película</a>
<a href="/movies/">Ver todas las película</a> --}}